.borders{
    position: absolute;
    width: 428px;
    height: 871px;
    left: 506px;
    top: 76px;
    background: #FFFFFF;
    border: 1px solid #5606B2;
    box-sizing: border-box;
    border-radius: 8px;
}
.displays{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    position: absolute;
    width: 420px;
    height: 182px;
    left: 0px;
    top: 80px;
}
#stop{
    position: static;
    width: 428px;
    height: 84px;
    left: 0px;
    top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: initial;
    font-size: 50px;
    line-height: 84px;
    color: #000000; 
    text-align: right;
}
#sums{
    position: static;
    width: 428px;
    height: 84px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: initial;
    font-size: 50px;
    line-height: 84px;
    color: #000000;
    text-align: right;
}
.clac{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 428px;
    height: 526px;
    left: 2px;
    top: 345px;
}
.clac1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 428px;
    height: 102px;
    left: 0px;
    top: 0px;
}
#b11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: static;
    width: 104px;
    height: 102px;
    left: 0px;
    top: 0px;
}
#b12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: static;
    width: 104px;
    height: 102px;
    left: 108px;
    top: 0px;
}
#b13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: static;
    width: 104px;
    height: 102px;
    left: 216px;
    top: 0px;
}
#b14{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: static;
    width: 104px;
    height: 102px;
    left: 324px;
    top: 0px;

}
.p1{
    position: static;
    width: 12px;
    height: 38px;
    left: 46px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
}
.back1{
    background: #A772CF; 
}
.back2{
    background: blue;
}